
$primary-color: #ff4d63;
$secondary-color: #4a4a4a;
$white: #ffffff;
$black: #000000;
$transparent-black: rgba(0, 0, 0, 0.12);
$light-grey: #f6f9fc;
$box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);


$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;